<div>
  <h2 id="page-heading" data-cy="WorkLocationHeading">
    <span jhiTranslate="vmsv2DataApp.workLocation.home.title">Work Locations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="vmsv2DataApp.workLocation.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-work-location"
        [routerLink]="['/work-location/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="vmsv2DataApp.workLocation.home.createLabel"> Create a new Work Location </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="workLocations?.length === 0">
    <span jhiTranslate="vmsv2DataApp.workLocation.home.notFound">No workLocations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="workLocations && workLocations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="code">
            <span jhiTranslate="vmsv2DataApp.workLocation.code">Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="vmsv2DataApp.workLocation.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="vmsv2DataApp.workLocation.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="country">
            <span jhiTranslate="vmsv2DataApp.workLocation.country">Country</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="state">
            <span jhiTranslate="vmsv2DataApp.workLocation.state">State</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="address">
            <span jhiTranslate="vmsv2DataApp.workLocation.address">Address</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fileUploadPath">
            <span jhiTranslate="vmsv2DataApp.workLocation.fileUploadPath">File Upload Path</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="isActive">
            <span jhiTranslate="vmsv2DataApp.workLocation.isActive">Is Active</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <span jhiTranslate="vmsv2DataApp.workLocation.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <span jhiTranslate="vmsv2DataApp.workLocation.createdAt">Created At</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="updatedBy">
            <span jhiTranslate="vmsv2DataApp.workLocation.updatedBy">Updated By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="updatedAt">
            <span jhiTranslate="vmsv2DataApp.workLocation.updatedAt">Updated At</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="client.id">
            <span jhiTranslate="vmsv2DataApp.workLocation.client">Client</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let workLocation of workLocations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/work-location', workLocation.id, 'view']">{{ workLocation.id }}</a>
          </td>
          <td>{{ workLocation.code }}</td>
          <td>{{ workLocation.name }}</td>
          <td>{{ workLocation.description }}</td>
          <td jhiTranslate="{{ 'vmsv2DataApp.Country.' + workLocation.country }}">{{ workLocation.country }}</td>
          <td jhiTranslate="{{ 'vmsv2DataApp.State.' + workLocation.state }}">{{ workLocation.state }}</td>
          <td>{{ workLocation.address }}</td>
          <td>{{ workLocation.fileUploadPath }}</td>
          <td>{{ workLocation.isActive }}</td>
          <td>{{ workLocation.createdBy }}</td>
          <td>{{ workLocation.createdAt | formatMediumDate }}</td>
          <td>{{ workLocation.updatedBy }}</td>
          <td>{{ workLocation.updatedAt | formatMediumDate }}</td>
          <td>
            <div *ngIf="workLocation.client">
              <a [routerLink]="['/program', workLocation.client?.id, 'view']">{{ workLocation.client?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/work-location', workLocation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/work-location', workLocation.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(workLocation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
