<div>
  <h2 id="page-heading" data-cy="JobCategoryTitleHeading">
    <span jhiTranslate="vmsv2DataApp.jobCategoryTitle.home.title">Job Category Titles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="vmsv2DataApp.jobCategoryTitle.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-job-category-title"
        [routerLink]="['/job-category-title/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="vmsv2DataApp.jobCategoryTitle.home.createLabel"> Create a new Job Category Title </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="jobCategoryTitles?.length === 0">
    <span jhiTranslate="vmsv2DataApp.jobCategoryTitle.home.notFound">No jobCategoryTitles found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="jobCategoryTitles && jobCategoryTitles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="category">
            <span jhiTranslate="vmsv2DataApp.jobCategoryTitle.category">Category</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="title">
            <span jhiTranslate="vmsv2DataApp.jobCategoryTitle.title">Title</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="code">
            <span jhiTranslate="vmsv2DataApp.jobCategoryTitle.code">Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="isActive">
            <span jhiTranslate="vmsv2DataApp.jobCategoryTitle.isActive">Is Active</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <span jhiTranslate="vmsv2DataApp.jobCategoryTitle.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <span jhiTranslate="vmsv2DataApp.jobCategoryTitle.createdAt">Created At</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="updatedBy">
            <span jhiTranslate="vmsv2DataApp.jobCategoryTitle.updatedBy">Updated By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="updatedAt">
            <span jhiTranslate="vmsv2DataApp.jobCategoryTitle.updatedAt">Updated At</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let jobCategoryTitle of jobCategoryTitles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/job-category-title', jobCategoryTitle.id, 'view']">{{ jobCategoryTitle.id }}</a>
          </td>
          <td>{{ jobCategoryTitle.category }}</td>
          <td>{{ jobCategoryTitle.title }}</td>
          <td>{{ jobCategoryTitle.code }}</td>
          <td>{{ jobCategoryTitle.isActive }}</td>
          <td>{{ jobCategoryTitle.createdBy }}</td>
          <td>{{ jobCategoryTitle.createdAt | formatMediumDate }}</td>
          <td>{{ jobCategoryTitle.updatedBy }}</td>
          <td>{{ jobCategoryTitle.updatedAt | formatMediumDate }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/job-category-title', jobCategoryTitle.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/job-category-title', jobCategoryTitle.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(jobCategoryTitle)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
