<div>
  <h2 id="page-heading" data-cy="ProgramHeading">
    <span jhiTranslate="vmsv2DataApp.program.home.title">Programs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="vmsv2DataApp.program.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-program"
        [routerLink]="['/program/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="vmsv2DataApp.program.home.createLabel"> Create a new Program </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="programs?.length === 0">
    <span jhiTranslate="vmsv2DataApp.program.home.notFound">No programs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="programs && programs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="vmsv2DataApp.program.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="email">
            <span jhiTranslate="vmsv2DataApp.program.email">Email</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="phoneNumber">
            <span jhiTranslate="vmsv2DataApp.program.phoneNumber">Phone Number</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="deploymentRegion">
            <span jhiTranslate="vmsv2DataApp.program.deploymentRegion">Deployment Region</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="subdomain">
            <span jhiTranslate="vmsv2DataApp.program.subdomain">Subdomain</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="implementationManagerEmail">
            <span jhiTranslate="vmsv2DataApp.program.implementationManagerEmail">Implementation Manager Email</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="isActive">
            <span jhiTranslate="vmsv2DataApp.program.isActive">Is Active</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <span jhiTranslate="vmsv2DataApp.program.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <span jhiTranslate="vmsv2DataApp.program.createdAt">Created At</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="updatedBy">
            <span jhiTranslate="vmsv2DataApp.program.updatedBy">Updated By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="updatedAt">
            <span jhiTranslate="vmsv2DataApp.program.updatedAt">Updated At</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let program of programs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/program', program.id, 'view']">{{ program.id }}</a>
          </td>
          <td>{{ program.name }}</td>
          <td>{{ program.email }}</td>
          <td>{{ program.phoneNumber }}</td>
          <td jhiTranslate="{{ 'vmsv2DataApp.Region.' + program.deploymentRegion }}">{{ program.deploymentRegion }}</td>
          <td>{{ program.subdomain }}</td>
          <td>{{ program.implementationManagerEmail }}</td>
          <td>{{ program.isActive }}</td>
          <td>{{ program.createdBy }}</td>
          <td>{{ program.createdAt | formatMediumDate }}</td>
          <td>{{ program.updatedBy }}</td>
          <td>{{ program.updatedAt | formatMediumDate }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/program', program.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/program', program.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(program)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
