<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-program-user-heading"
        data-cy="ProgramUserCreateUpdateHeading"
        jhiTranslate="vmsv2DataApp.programUser.home.createOrEditLabel"
      >
        Create or edit a Program User
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="vmsv2DataApp.programUser.firstName" for="field_firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="vmsv2DataApp.programUser.lastName" for="field_lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="vmsv2DataApp.programUser.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="vmsv2DataApp.programUser.sourceId" for="field_sourceId">Source Id</label>
          <input type="text" class="form-control" name="sourceId" id="field_sourceId" data-cy="sourceId" formControlName="sourceId" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="vmsv2DataApp.programUser.phoneNumber" for="field_phoneNumber">Phone Number</label>
          <input
            type="text"
            class="form-control"
            name="phoneNumber"
            id="field_phoneNumber"
            data-cy="phoneNumber"
            formControlName="phoneNumber"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="vmsv2DataApp.programUser.clientDesignation" for="field_clientDesignation"
            >Client Designation</label
          >
          <input
            type="text"
            class="form-control"
            name="clientDesignation"
            id="field_clientDesignation"
            data-cy="clientDesignation"
            formControlName="clientDesignation"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="vmsv2DataApp.programUser.simplifyRole" for="field_simplifyRole"
            >Simplify Role</label
          >
          <select class="form-control" name="simplifyRole" formControlName="simplifyRole" id="field_simplifyRole" data-cy="simplifyRole">
            <option [ngValue]="null">{{ 'vmsv2DataApp.Role.null' | translate }}</option>
            <option value="Administrator">{{ 'vmsv2DataApp.Role.Administrator' | translate }}</option>
            <option value="Hiring_Manager">{{ 'vmsv2DataApp.Role.Hiring_Manager' | translate }}</option>
            <option value="Finance_Manager">{{ 'vmsv2DataApp.Role.Finance_Manager' | translate }}</option>
            <option value="Timesheet_Approver">{{ 'vmsv2DataApp.Role.Timesheet_Approver' | translate }}</option>
            <option value="Job_Approver">{{ 'vmsv2DataApp.Role.Job_Approver' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="vmsv2DataApp.programUser.fileUploadPath" for="field_fileUploadPath"
            >File Upload Path</label
          >
          <input
            type="text"
            class="form-control"
            name="fileUploadPath"
            id="field_fileUploadPath"
            data-cy="fileUploadPath"
            formControlName="fileUploadPath"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="vmsv2DataApp.programUser.isActive" for="field_isActive">Is Active</label>
          <input type="checkbox" class="form-check" name="isActive" id="field_isActive" data-cy="isActive" formControlName="isActive" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="vmsv2DataApp.programUser.createdBy" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="vmsv2DataApp.programUser.createdAt" for="field_createdAt">Created At</label>
          <div class="input-group">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="text"
              class="form-control"
              name="createdAt"
              ngbDatepicker
              #createdAtDp="ngbDatepicker"
              formControlName="createdAt"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="createdAtDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="vmsv2DataApp.programUser.updatedBy" for="field_updatedBy">Updated By</label>
          <input type="text" class="form-control" name="updatedBy" id="field_updatedBy" data-cy="updatedBy" formControlName="updatedBy" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="vmsv2DataApp.programUser.updatedAt" for="field_updatedAt">Updated At</label>
          <div class="input-group">
            <input
              id="field_updatedAt"
              data-cy="updatedAt"
              type="text"
              class="form-control"
              name="updatedAt"
              ngbDatepicker
              #updatedAtDp="ngbDatepicker"
              formControlName="updatedAt"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="updatedAtDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="vmsv2DataApp.programUser.client" for="field_client">Client</label>
          <select class="form-control" id="field_client" data-cy="client" name="client" formControlName="client">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="programOption.id === editForm.get('client')!.value?.id ? editForm.get('client')!.value : programOption"
              *ngFor="let programOption of programsSharedCollection; trackBy: trackProgramById"
            >
              {{ programOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="vmsv2DataApp.programUser.manager" for="field_manager">Manager</label>
          <select class="form-control" id="field_manager" data-cy="manager" name="manager" formControlName="manager">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="programUserOption.id === editForm.get('manager')!.value?.id ? editForm.get('manager')!.value : programUserOption"
              *ngFor="let programUserOption of programUsersSharedCollection; trackBy: trackProgramUserById"
            >
              {{ programUserOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="vmsv2DataApp.programUser.location" for="field_location">Location</label>
          <select class="form-control" id="field_location" data-cy="location" name="location" formControlName="location">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                workLocationOption.id === editForm.get('location')!.value?.id ? editForm.get('location')!.value : workLocationOption
              "
              *ngFor="let workLocationOption of workLocationsSharedCollection; trackBy: trackWorkLocationById"
            >
              {{ workLocationOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
